@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&display=swap');

:root{

    --main-color: rgb(51, 102, 0);
    --secondary-color: rgb(248, 248, 248);

}

* {

    margin: 0;
    padding: 0;

    color: var(--secondary-color);
    font-family: 'Hedvig Letters Sans', sans-serif;
    scroll-behavior: smooth;

}

html, body{

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

body {

    background-color: var(--main-color);

}

nav {

    height: 90px;
    
    display: flex;
    justify-content: center;
    align-items: center;

}

nav img{

    width: 125px;
    transform: translateY(-5px);

}

header {

    height: 35vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--secondary-color);

}

header .container{

    width: 90%;
    text-align: center;

}

header h1{

    font-size: 45px;
    color: var(--main-color);

    padding-bottom: 10px;

}

header p{

    font-size: 27px;
    color: var(--main-color);

}

.service{

    text-align: center;

}

.service .titel{

    font-size: 40px;

    padding-top: 55px;
    padding-bottom: 25px;

}

.service .voorbeelden{

    display: flex;
    justify-content: center;
    align-items: center;

}

.service .voorbeelden .voorbeeld{

    background-color: rgb(56, 112, 0);
    
    width: 25%;
    height: 32em;

    padding: 50px;
    margin: 25px;

}

.service .voorbeelden .voorbeeld h2{

    font-size: 35px;

}

.service .voorbeelden .voorbeeld p{

    font-size: 22px;
    padding: 25px

}

.service .voorbeelden .voorbeeld img{

    width: 425px;

}

.service .andere{

    font-size: 20px;
    
    padding-top: 35px;
    padding-bottom: 60px;

}

.contact {

    display: flex;
    justify-content: center;
    align-items: center;

    height: 450px;
    background-color: var(--secondary-color);

}

.contact img{

    width: 300px;
    margin-right: 80px;

}

.contact .lijn{

    width: 3px;
    height: 100px;
    background-color: var(--main-color);

}

.contact .info{

    margin-left: 90px;

}

.contact h1, .contact p, .contact h3, .contact a{

    color: var(--main-color);

}

.contact h1{

    font-size: 35px;

}

.contact p{

    font-size: 25px;
    padding-bottom: 20px;

}

.contact h3{

    font-size: 22px;

}

footer {
    
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;

    font-size: 17px;

}

@media only screen and (max-width: 1700px) {

    header .container h1{

        font-size: 225%;

    }

    header .container p{

        font-size: 150%;

    }

    .service .titel{

        padding-bottom: 50px;

    }

    .service .voorbeelden{

        display: block;

    }

    .service .voorbeelden .voorbeeld{

        width: 100%;
        padding: 0;
        margin: 0;
        margin-bottom: 30px;
        padding-top: 30px;
        padding-bottom: 30px;

    }

    .contact {

        display: block;
        height: 575px;

        text-align: center;

    }

    .contact .img-container{



        display: flex;
        justify-content: center;
        align-items: center;

    }

    .contact img{

        padding: 0;
        margin: 0;


    }

    .contact .lijn-container{

        display: flex;
        justify-content: center;
        align-items: center;

    }

    .contact .lijn{

        height: 3px;
        width: 200px;

    }

    .contact .info{

        padding-top: 25px;
        margin: 0;

    }

}